# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Autogen not used in the project
stm_autogen_files/Drivers/CMSIS/Core/
stm_autogen_files/Drivers/CMSIS/DAP/
stm_autogen_files/Drivers/CMSIS/Core_A/
stm_autogen_files/Drivers/CMSIS/Device/ST/STM32F4xx/Source/
stm_autogen_files/Drivers/CMSIS/DSP/
stm_autogen_files/Drivers/CMSIS/NN/
stm_autogen_files/Drivers/CMSIS/RTOS/
stm_autogen_files/Drivers/CMSIS/RTOS2/
stm_autogen_files/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_1.c
stm_autogen_files/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_2.c
stm_autogen_files/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_3.c
stm_autogen_files/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_5.c
